<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weight Loss Tracker</title>
  <!-- ここに必要なスタイルシートを追加 -->
</head>
<body>

  <h1>Welcome to Weight Loss Tracker!</h1>
  <h2 class="subtitle">Track your own weight and check your progress.</h2>

  <!-- ログインと新規会員登録のボタン -->
  <div>
    <a href="<%= new_user_session_path %>">Login</a>
    <a href="<%= new_user_registration_path %>">Create Account</a>
  </div>

  <!-- ここにアプリケーションのコンテンツを追加 -->
  <div>
    <%= link_to "Track Your Weight", "#", class: "#" %>
    <%= link_to "Progress Chart", "#", class: "#" %>
  </div>

</body>
</html>