<html>
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'progress_chart', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartkick"></script>
  <script type="module" src="path_to_your_module.js"></script>
</head>
<body>
  <header>
    <h1>Progress Chart</h1>
  </header>

  <div class="Back">
    <%= link_to "Back", :back, class: 'back-button' %>
  </div>

  <div class="chart">
    <%= line_chart @progress_chart_data %>
  </div>
</body>
</html>