<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'progress_chart', media: 'all' %>
</head>
<body>
  <header>
    <h1>Progress Chart</h1>
  </header>

  <div class="Back">
    <%= link_to "Back", :back, class: 'back-button' %>
  </div>

  <div class="chart">
    <%= line_chart @progress_chart_data, library: { scales: { y: { min: @y_min, max: @y_max } } } %>
  </div>
</body>
</html>