header {
  height: 50px;
  background-color: #b0c6ec;
  padding: 40px 0;
  font-size: 45px;
  border-radius: 10px; /* 角を丸くする */
  margin-bottom: 100px; 
  margin-top: 20px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 38px;
  background-color: #fffdfd;
  margin-top: 20px;
}

body .custom-submit-button {
  margin-top: 30px;
  font-size: 25px;
}

body .edit {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

body .back-button {
  margin-top: -10px;
  font-size: 30px;
}

span.input-addon {
  font-size: 22px; /* 任意のサイズに調整 */
}