header {
  height: 75px;
  background-color: #b0c6ec;
  padding: 10px 0;
  font-size: 38px;
  border-radius: 10px; /* 角を丸くする */
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  font-size: 30px;
  margin: 15px;
  padding: 15px;
  text-align: right;
  font-size: 16px;
}


footer {
  background-color: white;
  margin: 20px 0;
  font-size: 60px;
  white-space: pre-line;
  text-align: center;
}

footer .app2 {
  margin-top: -60px; 
}

a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color:  #76a5f6; /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  cursor: pointer;

}

a:hover {
  text-decoration: underline;
}


@media only screen and (max-width:1024px) {
  /* レスポンシブデザインのためのメディアクエリ */
  header {
    height: 30px;
    background-color: #b0c6ec;
    padding: 10px 0;
    font-size: 15px;
    border-radius: 10px; /* 角を丸くする */
    text-align: center;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 15px;
    padding: 15px;
    text-align: right;
    font-size: 5px;
  }
  
  
  footer {
    background-color: white;
    margin: 20px 0;
    font-size: 20px;
    white-space: pre-line;
    text-align: center;
  }
  

  a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color:  #76a5f6; /* ボタンの背景色 */
    color: #fff; /* ボタンのテキスト色 */
    cursor: pointer;
  
  }
  
  a:hover {
    text-decoration: underline;
  }
  }
  
  
  /* タブレット向けのメディアクエリも同様に追加可能 */
  @media only screen and (min-width: 1025px) and (max-width: 2048px) {
    /* タブレット用のスタイル */
  }