header {
  height: 75px;
  background-color: #b0c6ec;
  padding: 10px 0;
  font-size: 38px;
  border-radius: 10px; /* 角を丸くする */
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 15px;
  padding: 15px;
  text-align: right;
  font-size: 15px;
}


footer {
  background-color: white;
  margin: 20px 0;
  font-size: 60px;
  white-space: pre-line;
  text-align: center;
}

footer .app2 {
  margin-top: -60px; 
}

a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color:  #76a5f6; /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  cursor: pointer;

}

a:hover {
  text-decoration: underline;
}